Repository raxjs/rax-scripts, pull requests merged in 2020-06, with the labels that each got.

#338 feat: use miniapp babel presets insteadof babel plugins
  packages/build-plugin-rax-app/src/config/miniapp/runtime/getBase.js
  packages/rax-miniapp-babel-plugins/package.json
  packages/rax-miniapp-babel-plugins/src/plugins/babel-plugin-native-lifecycle.js
  packages/rax-miniapp-babel-plugins/src/utils/getPagePath.js
Labels: miniapp

#337 feat: support @import css file
  packages/build-plugin-rax-app/package.json
  packages/build-plugin-rax-app/src/config/postcss.config.js
  packages/build-plugin-rax-app/src/config/user/keys/inlineStyle.js
Labels: Feature

#330 feat(build-plugin-rax-app): make progress plugin support multiple ends
  packages/build-plugin-rax-app/package.json
  packages/build-plugin-rax-app/src/config/getWebpackBase.js
  packages/build-plugin-rax-app/src/config/miniapp/compile/getBase.js
  packages/build-plugin-rax-app/src/config/web/getBase.js
  packages/build-plugin-rax-app/src/dev.js
  packages/build-plugin-rax-ssr/package.json
  packages/build-plugin-rax-ssr/src/index.js
  packages/build-plugin-rax-ssr/src/ssr/getBase.js
  packages/rax-webpack-config/package.json
  packages/rax-webpack-config/src/index.js
Labels: multi-end

#331 feat(jsx2mp): support usingComponents in thrid miniapp component in constantDir
  packages/jsx2mp-loader/package.json
  packages/jsx2mp-loader/src/script-loader.js
Labels: miniapp-compile

#334 feat: support for sass
  packages/build-plugin-rax-app/package.json
  packages/build-plugin-rax-app/src/config/user/keys/inlineStyle.js
Labels: multi-end

#340 feat(miniapp): add render control to custom component
  packages/rax-miniapp-runtime-webpack-plugin/package.json
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/custom-component.js
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/ali-miniapp/custom-component.js.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/wechat-miniprogram/custom-component.js.ejs
Labels: miniapp

#349 feat: support with zero config use native custom compnent
  packages/build-plugin-rax-app/src/config/miniapp/runtime/getBase.js
  packages/rax-miniapp-babel-plugins/package.json
  packages/rax-miniapp-babel-plugins/src/index.js
  packages/rax-miniapp-babel-plugins/src/plugins/babel-plugin-handle-custom-component.js
  packages/rax-miniapp-babel-plugins/src/plugins/babel-plugin-native-lifecycle.js
  packages/rax-miniapp-babel-plugins/src/utils/extMap.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/config.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/custom-component.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/index.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/page.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/pkg.js
  packages/rax-miniapp-runtime-webpack-plugin/src/index.js
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/ali-miniapp/root.xml.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/wechat-miniprogram/root.xml.ejs
Labels: miniapp

#325 [Component Develop] support compile esmodule
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .travis.yml
  examples/rax-component-js/README.md
  examples/rax-component-js/build.json
  examples/rax-component-js/demo/advance.md
  examples/rax-component-js/demo/basic.md
  examples/rax-component-js/package.json
  examples/rax-component-js/src/index.jsx
  examples/rax-component-ts/README.md
  examples/rax-component-ts/build.json
  examples/rax-component-ts/demo/advance.md
  examples/rax-component-ts/demo/basic.md
  examples/rax-component-ts/package.json
  examples/rax-component-ts/src/index.tsx
  examples/rax-component-ts/tsconfig.json
  package.json
  packages/build-plugin-multi-demo-portal/src/index.js
  packages/build-plugin-rax-component/package.json
  packages/build-plugin-rax-component/src/config/getBaseWebpack.js
  packages/build-plugin-rax-component/src/gulp/gulpfile.js
  packages/rax-babel-config/package.json
  packages/rax-babel-config/src/index.js
  packages/rax-generator/src/template/api/_gitignore.ejs
  packages/rax-generator/src/template/api/package.json.ejs
  packages/rax-generator/src/template/component/build.json.ejs
  packages/rax-generator/src/template/component/package.json.ejs
Labels: component

#343 refactor: miniapp runtime project
  packages/build-plugin-rax-app/package.json
  packages/build-plugin-rax-app/src/config/miniapp/compile/getBase.js
  packages/build-plugin-rax-app/src/config/miniapp/compile/setEntry.js
  packages/build-plugin-rax-app/src/config/miniapp/filterNativePages.js
  packages/build-plugin-rax-app/src/config/miniapp/pathHelper.js
  packages/build-plugin-rax-app/src/config/miniapp/runtime/getBase.js
  packages/build-plugin-rax-app/src/config/miniapp/runtime/setEntry.js
  packages/build-plugin-rax-app/src/config/miniapp/targetPlatformMap.js
  packages/build-plugin-rax-app/src/plugins/miniapp/CopyPublicFile.js
  packages/rax-miniapp-babel-plugins/package.json
  packages/rax-miniapp-babel-plugins/src/index.js
  packages/rax-miniapp-babel-plugins/src/plugins/babel-plugin-handle-custom-component.js
  packages/rax-miniapp-babel-plugins/src/plugins/babel-plugin-native-lifecycle.js
  packages/rax-miniapp-babel-plugins/src/utils/extMap.js
  packages/rax-miniapp-runtime-webpack-plugin/package.json
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/config.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/custom-component.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/element.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/index.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/page.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/pkg.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/render.js
  packages/rax-miniapp-runtime-webpack-plugin/src/generators/root.js
  packages/rax-miniapp-runtime-webpack-plugin/src/index.js
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/ali-miniapp/page.js.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/ali-miniapp/root.xml.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/app.js.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/page.js.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/wechat-miniprogram/page.js.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/templates/wechat-miniprogram/root.xml.ejs
  packages/rax-miniapp-runtime-webpack-plugin/src/utils/getTemplate.js
  packages/rax-miniapp-runtime-webpack-plugin/src/utils/installDependencies.js
Labels: miniapp

#341 build-plugin-rax-component@0.2.8
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .travis.yml
  examples/rax-component-js/README.md
  examples/rax-component-js/build.json
  examples/rax-component-js/demo/advance.md
  examples/rax-component-js/demo/basic.md
  examples/rax-component-js/package.json
  examples/rax-component-js/src/index.jsx
  examples/rax-component-ts/README.md
  examples/rax-component-ts/build.json
  examples/rax-component-ts/demo/advance.md
  examples/rax-component-ts/demo/basic.md
  examples/rax-component-ts/package.json
  examples/rax-component-ts/src/index.tsx
  examples/rax-component-ts/tsconfig.json
  package.json
  packages/build-plugin-multi-demo-portal/package.json
  packages/build-plugin-multi-demo-portal/src/build.js
  packages/build-plugin-multi-demo-portal/src/index.js
  packages/build-plugin-rax-component/package.json
  packages/build-plugin-rax-component/src/build.js
  packages/build-plugin-rax-component/src/config/getBaseWebpack.js
  packages/build-plugin-rax-component/src/config/getDistConfig.js
  packages/build-plugin-rax-component/src/config/getES6Config.js
  packages/build-plugin-rax-component/src/gulp/gulpfile.js
  packages/rax-babel-config/package.json
  packages/rax-babel-config/src/index.js
  packages/rax-generator/package.json
  packages/rax-generator/src/template/api/_gitignore.ejs
  packages/rax-generator/src/template/api/package.json.ejs
  packages/rax-generator/src/template/component/build.json.ejs
  packages/rax-generator/src/template/component/package.json.ejs
Labels: component, multi-end
